# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Operating System Files
.DS_Store
Thumbs.db

# Virtual Environments and IDEs
venv/
env/
.env/
.vscode/
.idea/
